name: Build Hysteria Payload (Sing-box)
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Install UPX
        run: sudo apt-get install -y upx
      - name: Compile and Compress
        run: |
          git clone https://github.com/SagerNet/sing-box.git
          cd sing-box && git checkout dev
          GOOS=linux GOARCH=mipsle GOMIPS=softfloat go build -v \
          -tags "with_hysteria2,with_quic,without_v2ray,without_trojan,without_shadowsocks" \
          -ldflags "-s -w" -o sing-box-tiny ./cmd/sing-box
          upx --lzma --best sing-box-tiny
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: sing-box-payload
          path: sing-box/sing-box-tiny
